# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
[Oo]ut/

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.rsuser

# NuGet
packages/
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json
artifacts/

# Build artifacts
*.exe
*.dll
*.pdb
*.cache
*.ilk
*.log
*.lib
*.exp
*.obj
*.res

# OS files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
